<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    add user
    <form action="/adduser" method="post" >
        <input type="text" name="name" value="">
        <br>
          <input type="text" name="email" value=""> 
          <br>
          <button type="submit">submit</button>
    </form>
</body>
</html>